<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
             class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">LOGIN</p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="formEmail">Email address</label>
            <input class="form-control form-control-lg" formControlName="email" type="email" id="formEmail" />
            <p *ngIf="this.loginForm.get('email')?.invalid && this.loginForm.get('email')?.touched">
              <small class="text-danger">Email is required</small>
            </p>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="formPassword">Password</label>
            <input class="form-control form-control-lg" formControlName="password" type="password" id="formPassword" />
            <p *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched"><small class="text-danger">Password is required (min. length = 8)</small></p>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-lg">Login</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5"
    style="background-color: #e3f2fd;"
  >
    <div class="text-black mb-3 mb-md-0">Stiazhkin Nikolai</div>
  </div>
</section>
